body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background: rgb(143, 130, 143);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  input {
    width: 60%;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: rgb(177, 177, 171);
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
 
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    background: black;
    border: none;
    cursor: pointer;
    color: #ccc;
  }
  
  button:hover {
    background: #ccc;
    color: #000;
  }
  